.content {
    padding-top: 250px;
    /* background-image: linear-gradient(-128deg, rgba(255, 181, 32, 0.93) 3%, rgba(239, 39, 153, 0.93) 88%, rgba(237, 18, 171, 0.93) 100%)!important; */
    background-image: linear-gradient(-128deg, #0093DD 3%, #68B92E 88%, #ED891A 100%)!important;
    /* background-image: linear-gradient(to right, #0093DD 0%, #68B92E 51%, #ED891A 100%)!important; */
}

/* .button {
    transition: all 0.3s ease!important; 
    background-color: #FFC145!important;
    height: 144px!important;
    width: 144px!important;
    line-height: 144px!important;
    border-radius: 72px!important;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07)!important;
    cursor: pointer!important;
    padding: 0px!important;
    border:0px!important;
} */
.button{
    transition: all 0.3s ease; 
    background-color: #FFC145;
    height: 250px;
    width: 250px;
    line-height: 250px;
    border-radius: 125px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
    cursor: pointer;
    padding: 0px;
    border:0px;
    font-weight: bold;
    font-size: 30px;
}
.button:focus {
    outline: none;
}
#modal-container .modal-background .modal {
    /* background: white; */
    padding: 100px!important;
    /* display: inline-block; */
    /* border-radius: 3px; */
    /* font-weight: 300; */
    /* position: relative; */
}

html, body {
    font-family: Montserrat, sans-serif!important;
}

.flex-rows {
    text-align: center!important;
}